<_:Project_[Project.ID]> <dgraph.type> "Project" .
<_:Project_[Project.ID]> <Current_Status> "[Project.Current.Status]" .
<_:Project_[Project.ID]> <Fully_Funded_Date> "[Project.Fully.Funded.Date]" .
<_:Project_[Project.ID]> <ID> "[Project.ID]" .
<_:Project_[Project.ID]> <Posted_Date> "[Project.Posted.Date]" .
<_:Project_[Project.ID]> <Resource_Category> "[Project.Resource.Category]" .
<_:Project_[Project.ID]> <Type> "[Project.Type]" .
<_:Project_[Project.ID]> <Cost> "[Project.Cost]" .
<_:Project_[Project.ID]> <Grade_Level_Category> "[Project.Grade.Level.Category]" .
<_:Project_[Project.ID]> <Subcategory_Tree> "[Project.Subject.Subcategory.Tree]" .
<_:Project_[Project.ID]> <Subject_Category_Tree> "[Project.Subject.Category.Tree]" .
<_:Project_[Project.ID]> <Title> "[Project.Title]" .
<_:School_[School.ID]> <dgraph.type> "School" .
<_:School_[School.ID]> <City> "[School.City]" .
<_:School_[School.ID]> <County> "[School.County]" .
<_:School_[School.ID]> <ID> "[School.ID]" .
<_:School_[School.ID]> <Name> "[School.Name]" .
<_:School_[School.ID]> <State> "[School.State]" .
<_:School_[School.ID]> <Zip> "[School.Zip]" .
<_:School_[School.ID]> <District> "[School.District]" .
<_:School_[School.ID]> <Metro_Type> "[School.Metro.Type]" .
<_:School_[School.ID]> <Percentage_Free_Lunch> "[School.Percentage.Free.Lunch]" .
<_:Teacher_[Teacher.ID]> <dgraph.type> "Teacher" .
<_:Teacher_[Teacher.ID]> <ID> "[Teacher.ID]" .
<_:Teacher_[Teacher.ID]> <Project_Posted_Sequence> "[Teacher.Project.Posted.Sequence]" .
<_:Donor_[Donor.ID]> <dgraph.type> "Donor" .
<_:Donor_[Donor.ID]> <City> "[Donor.City]" .
<_:Donor_[Donor.ID]> <State> "[Donor.State]" .
<_:Donor_[Donor.ID]> <Zip> "[Donor.Zip]" .
<_:Donor_[Donor.ID]> <Firstname> "[firstname]" .
<_:Donor_[Donor.ID]> <Lastname> "[lastname]" .
<_:Donor_[Donor.ID]> <ID> "[Donor.ID]" .
<_:Donor_[Donor.ID]> <Is_Teacher> "[Donor.Is.Teacher]" .
<_:Donation_[Donation.ID]> <dgraph.type> "Donation" .
<_:Donation_[Donation.ID]> <Donor_Cart_Sequence> "[Donor.Cart.Sequence]" .
<_:Donation_[Donation.ID]> <ID> "[Donation.ID]" .
<_:Donation_[Donation.ID]> <Included_Optional_Donation> "[Donation.Included.Optional.Donation]" .
<_:Donation_[Donation.ID]> <Amount> "[Donation.Amount]" .
<_:Project_[Project.ID]> <BELONGS_TO> <_:School_[School.ID]> .
<_:School_[School.ID]> <CONTAINS> <_:Project_[Project.ID]> .
<_:Project_[Project.ID]> <ASSIGNED_TO> <_:Teacher_[Teacher.ID]> .
<_:Teacher_[Teacher.ID]> <EMPLOYS> <_:Project_[Project.ID]> .
<_:Donor_[Donor.ID]> <MADE> <_:Donation_[Donation.ID]> .
<_:Donation_[Donation.ID]> <FUNDS> <_:Project_[Project.ID]> .
<_:Donor_[Donor.ID]> <DONATES_TO> <_:School_[School.ID]> .
<_:School_[School.ID]> <RECEIVES_FROM> <_:Donor_[Donor.ID]> .