<_:Project_[Project.ID]> <dgraph.type> "Project" .
<_:Project_[Project.ID]> <xid> "[Project.ID]" .
<_:Project_[Project.ID]> <Project.id> "[Project.ID]" .
<_:Project_[Project.ID]> <Project.title> "[Project.Title]" .
<_:Project_[Project.ID]> <Project.grade> "[Project.Grade.Level.Category]" .
<_:Category_[Project.Subject.Category.Tree]>  <Category.name> "[Project.Subject.Category.Tree]" .
<_:Category_[Project.Subject.Category.Tree]>  <dgraph.type> "Category" .
<_:Project_[Project.ID]> <Project.category> <_:Category_[Project.Subject.Category.Tree]> .
<_:Project_[Project.ID]> <Project.status> "[Project.Current.Status]" .
<_:Project_[Project.ID]> <Project.school> <_:School_[School.ID]> .
<_:School_[School.ID]> <School.projects>  <_:Project_[Project.ID]> *