<_:Movie_[id]> <dgraph.type> "Movie" .
<_:Movie_[id]> <runtime> "[runtime]" .
<_:Movie_[id]> <vote_average> "[vote_average]" .
<_:Movie_[id]> <original_language> "[original_language]" .
<_:Movie_[id]> <tagline> "[tagline]" .
<_:Movie_[id]> <budget> "[budget]" .
<_:Movie_[id]> <homepage> "[homepage]" .
<_:Movie_[id]> <release_date> "[release_date]" .
<_:Movie_[id]> <title> "[title]" .
<_:Movie_[id]> <overview> "[overview]" .
<_:Movie_[id]> <status> "[status]" .
<_:Movie_[id]> <vote_count> "[vote_count]" .
<_:Movie_[id]> <popularity> "[popularity]" .
<_:Movie_[id]> <original_title> "[original_title]" .
<_:Movie_[id]> <revenue> "[revenue]" .
<_:Movie_[id]> <HAS_GENRE> <_:Genre_[genres]> .
<_:Genre_[genres]> <dgraph.type> "Genre" .
<_:Genre_[genres]> <name> "[genres]" .
<_:Movie_[id]> <HAS_KEYWORD> <_:Keyword_[keywords]> .
<_:Keyword_[keywords]> <dgraph.type> "Keyword" .
<_:Keyword_[keywords]> <name> "[keywords]" .
<_:Movie_[id]> <DIRECTED_BY> <_:Director_[director]> .
<_:Director_[director]> <dgraph.type> "Director" .
<_:Director_[director]> <name> "[director]" .
<_:Movie_[id]> <ACTED_IN> <_:Cast_[cast]> .
<_:Cast_[cast]> <dgraph.type> "Cast" .
<_:Cast_[cast]> <name> "[cast]" .
<_:Movie_[id]> <WORKED_WITH> <_:Crew_[crew]> .
<_:Crew_[crew]> <dgraph.type> "Crew" .
<_:Crew_[crew]> <name> "[crew]" .
<_:Movie_[id]> <PRODUCED_BY> <_:Production_Company_[production_companies]> .
<_:Production_Company_[production_companies]> <dgraph.type> "Production Company" .
<_:Production_Company_[production_companies]> <name> "[production_companies]" .
<_:Movie_[id]> <PRODUCED_IN> <_:Production_Country_[production_countries]> .
<_:Production_Country_[production_countries]> <dgraph.type> "Production Country" .
<_:Production_Country_[production_countries]> <name> "[production_countries]" .