version: "3.4"
services:
 zero:
  image: dgraph/dgraph:v23.1.1
  volumes:
   - ./dgraph_vol:/dgraph
  ports:
   - 5080:5080
   - 6080:6080
  restart: on-failure
  command: dgraph zero --my=zero:5080
 alpha:
  image: dgraph/dgraph:v23.1.1
  volumes:
   - ./dgraph_vol:/dgraph
  ports:
   - 8080:8080
   - 9080:9080
  restart: on-failure
  environment:
   DGRAPH_ALPHA_SECURITY: whitelist=0.0.0.0/0
  command: dgraph alpha --my=alpha:7080 --zero=zero:5080

